@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");

/* body *********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier Prime", monospace;
  background-color: #d1d6d6;
  width: 0 auto;
}

h2 {
  width: 56%;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin: 20px auto;
}

/* header *******************************************/
.cabecalho {
  padding: 30px 0;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1c1c1c;
}

.menu {
  padding: 18px 0;
  background-color: #1c1c1c;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.menu-link {
  text-decoration: none;
  color: #d1d6d6;
  font-size: 25px;
}

.menu-link:hover {
  color: yellowgreen;
}

/* main *********************************************/
main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

/* article ******************************************/
article {
  width: 65%;
}

.img-post {
  width: 100%;
}

article p {
  width: 100%;
  margin: 10px 0;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

button {
  width: 200px;
  padding: 15px;
  background-color: #1c1c1c;
  color: #d1d6d6;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Courier Prime", monospace;
  float: right;
  margin-bottom: 40px;
}

button:hover {
  color: yellowgreen;
}

/* separador ****************************************/
span {
  width: 5%;
}

/* aside ********************************************/
aside {
  width: 30%;
}

h3 {
  margin-left: 5px;
  font-size: 22px;
  text-transform: uppercase;
}

.acesso-insta {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 10px;
}

.go-to-right {
  height: 20px;
}

.go-to-right:hover {
  filter: invert(35%) sepia(49%) saturate(2822%) hue-rotate(215deg)
    brightness(92%) contrast(92%);
  transform: rotateY(-360deg);
  transition: 1s ease-in-out;
}

.icon-insta {
  width: 25px;
  margin-right: 5px;
}

.icon-insta:hover {
  filter: invert(35%) sepia(49%) saturate(2822%) hue-rotate(215deg)
    brightness(92%) contrast(92%);
}

.print-insta {
  width: 100%;
  padding: 10px;
  background-color: #1c1c1c4d;
  margin-bottom: 50px;
}

.perfil {
  width: 100%;
  padding: 10px;
  border: 10px solid #1c1c1c4d;
  font-weight: 700;
  margin-bottom: 50px;
}

.perfil a {
  color: royalblue;
}

.imagem {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.outras-cronicas {
  width: 100%;
  padding: 10px;
  border: 10px solid #1c1c1c4d;
  font-weight: 700;
  margin-bottom: 50px;
}

.sumario {
  margin: 20px 0;
  line-height: 1.7;
  color: royalblue;
  font-weight: 700;
  font-size: 18px;
}

.sumario a {
  color: royalblue;
}

ol {
  list-style-type: none;
  padding-left: 10px;
}

.contato {
  width: 100%;
  padding: 10px;
  border: 10px solid #1c1c1c4d;
  font-weight: 700;
  margin-bottom: 50px;
}

.contato a {
  text-decoration: none;
  color: royalblue;
}

.contato img {
  width: 50px;
  margin: 10px 0;
  padding: 0 10px;
  vertical-align: middle;
}

/* footer *******************************************/
footer {
  background-color: #1c1c1c;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 200px;
}

.links-uteis {
  padding: 10px 0;
}

.links-uteis li {
  margin: 0 20px;
}

.links-uteis a {
  text-decoration: none;
  color: #d1d6d6;
}

.links-uteis a:hover {
  color: yellowgreen;
}

.assinatura {
  color: #d1d6d6;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.back-to-top {
  width: 80px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  border-radius: 50%;
  filter: invert(93%) sepia(10%) saturate(72%) hue-rotate(131deg)
    brightness(96%) contrast(83%);
  scroll-behavior: smooth;
}

.back-to-top:hover {
  transform: translateY(-20px);
  transition: 1s ease-in-out;
}
